﻿@model IEnumerable<Newsfeed.Models.RssItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="listdiv">
    <ul id="list">
        @foreach (var item in Model)
        {
            <li>@item.title</li>
        }
    </ul>
</div>
<script src="~/Scripts/ajax/request.js"></script>